{% extends 'admin/base.html' %} {% block content %}
<div class="container">
    <div class="box box-solid box-primary">
        <div class="box-header">
            <h3 class="box-title">Account Manager</h3>
        </div>
        <div class="box-body">
            <table id="userTable">
                <thead>
                    <tr>
                        <th>Account Number</th>
                        <th>Account Owner</th>
                        <th>Balance</th>
                        <th>Time Deposit</th>
                        <th>Account Type</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in accounts %}
                    <tr>
                        <th>{{ account.account_number }}</th>
                        <td>{{ account.user.last_name }}, {{ account.user.first_name }}</td>
                        <td>&#8369; {{ account.balance }}</td>
                        <td>
                            {% if account.type == 1 %}
                            Savings
                            {% elif account.type == 2 %}
                            ATM
                            {% elif account.type == 3 %}
                            Time Deposit
                            {% endif %}
                        </td>
                        <td>{{ 'Active' if not account.deleted else 'Inactive' }}</td>
                        <td>
                            <div class="btn-group">
                                {% if account.deleted %}
                                <a href="{{ url_for('account.activate', id=account.id) }}" class="btn btn-success">Activate</a>
                                {% else %}
                                <a href="{{ url_for('account.deactivate', id=account.id) }}" class="btn btn-danger">Deactivate</a>
                                </form>
                                {% endif %}
                            </div>
                            <!-- <a href="" class="btn-small blue waves-effect">View</a> -->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %} {% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}"> {% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
<script>
    $(function () {
        $('#userTable').DataTable();
    });
</script>
{% endblock %}