{% extends 'base.html' %} {% block content %}
<div class="section">
    <div class="container">
        <h4 class="blue-text">Deposit</h4>
        <form action="{{ url_for('main.deposit') }}" method="post">
            {{ form.csrf_token }}
            <div class="card-panel">
                <div class="section">
                    <div class="input-field">
                        {{ form.account_number(class_='validate') }} {{ form.account_number.label }} {% for error in form.account_number.errors %}
                        <small class="red-text">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="input-field">
                        {{ form.amount(class_='validate') }} {{ form.amount.label }} {% for error in form.amount.errors %}
                        <small class="red-text">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
                <center>
                    <a href="{{ url_for('main.index') }}" class="btn waves-effect blue">
                        <i class="material-icons left">keyboard_arrow_left</i>Back</a>
                    <button class="btn waves-effect blue">
                        <i class="material-icons left">send</i>Deposit</button>
                </center>
            </div>
        </form>
    </div>
</div>
{% endblock %}