{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <h4 class="blue-text">Transaction History</h4>
        <div class="card-panel">
            <table id="historyTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Account Number</th>
                        <th>Transaction Type</th>
                        <th>Reference Number</th>
                        <th>Amount</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in history %}
                    <tr>
                        <th>{{ record.id }}</th>
                        <td>{{ record.account_number }}</td>
                        <td>{{ record.type }}</td>
                        <td>{{ record.reference_number }}</td>
                        <td>&#8369; {{ record.amount }}</td>
                        <td>{{ record.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
<script>
    $(function() {
        $('#historyTable').DataTable({
            order: [[5, 'desc']],
        });
    });
</script>
{% endblock %}