{% extends 'admin/base.html' %} {% block content %}
<div class="container">
    <form action="{{ url_for('admin.transfer') }}" method="post">
        {{ form.csrf_token }}
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title">Fund Transfer</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="form-group col-sm-12 col-md-6">
                            {{ form.sender_account_number.label }} {{ form.sender_account_number(class_='form-control') }} {% for error in form.sender_account_number.errors
                        %}
                        <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                            {{ form.receiver_account_number.label }} {{ form.receiver_account_number(class_='form-control') }} {% for error in form.receiver_account_number.errors
                        %}
                        <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group col-sm-12">
                            {{ form.amount.label }} {{ form.amount(class_='form-control') }} {% for error in form.amount.errors %}
                        <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a href="{{ url_for('admin.index') }}" class="btn btn-default">
                    Back</a>
                <button type="submit" class="btn btn-primary">
                    Transfer</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}