{% extends 'teller/base.html' %} {% block content %}
<form id="changePinForm" action="{{ url_for('teller.change_pin') }}" method="POST">
    {{ form.csrf_token }}
    <div class="card">
        <div class="card-content">
            <h2 class="card-title">Change PIN</h2>
            <div class="input-field">
                {{ form.current_pin.label }} {{ form.current_pin(class_='validate') }} {% for error in form.current_pin.errors %}
                <small class="red-text">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="input-field">
                {{ form.new_pin.label }} {{ form.new_pin(class_='validate') }} {% for error in form.new_pin.errors %}
                <small class="red-text">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="input-field">
                {{ form.confirm_pin.label }} {{ form.confirm_pin(class_='validate') }} {% for error in form.confirm_pin.errors %}
                <small class="red-text">{{ error }}</small>
                {% endfor %}
            </div>
            <center>
                <a href="{{ url_for('teller.index') }}" class="btn-large waves-effect blue darken-2">
                    <i class="material-icons left">keyboard_arrow_left</i>Back
                </a>
                <button type="submit" class="btn-large waves-effect blue darken-2">
                    <i class="material-icons left">send</i>Enter
                </a>
            </center>
        </div>
    </div>
</form>
{% endblock %}