{% extends 'teller/base.html' %} {% block content %}
<form action="{{ url_for('teller.deposit') }}" method="POST">
    <div class="card">
        <div class="card-content">
            <h2 class="card-title">Deposit</h2>
            <div class="row">
                <div class="input-field col s12 m9">
                    <input type="number" name="amount" id="amountField" class="form-control" min="0" max="25000">
                    <label for="amountField">Enter Amount</label>
                </div>
                <div class="col s12 m3">
                    <center>
                        <button class="btn-large waves-effect blue darken-2">
                            <i class="material-icons left">send</i>Enter
                        </button>
                    </center>
                </div>
            </div>
            <center>
                <a href="{{ url_for('teller.index') }}" class="btn-large waves-effect blue darken-2">
                    <i class="material-icons left">keyboard_arrow_left</i>Back
                </a>
            </center>
        </div>
    </div>
</form>
{% endblock %}