{% extends 'teller/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-6">
        <form id="depositForm" action="{{ url_for('teller.deposit') }}" method="POST">
            <h2 class="font-weight-bold text-center text-uppercase">Deposit</h2>
            <br>
            <div class="card card-body bg-danger text-white">
                <h5 class="card-title">Enter Amount</h5>
                <div class="form-group">
                    <input type="number" name="amount" id="amountField" class="form-control" min="0">
                </div>
            </div>
            <a href="#!" class="btn-custom" onclick="document.getElementById('depositForm').submit()">
                <span>Enter</span>
            </a>
            <a href="{{ url_for('teller.index') }}" class="btn-custom"><span>Back</span></a>
        </form>
    </div>
</div>
{% endblock %}