{% extends 'teller/base.html' %} {% block content %}
<div class="card-panel">
    <div class="row" style="margin-bottom: 0rem;">
        <div class="col s6">
            <a href="{{ url_for('teller.withdraw') }}" class="btn-large btn-block waves-effect blue darken-2">withdraw</a>
            <a href="{{ url_for('teller.inquiry') }}" class="btn-large btn-block waves-effect blue darken-2">Balance Inquiry</a>
            <a href="{{ url_for('teller.transfer') }}" class="btn-large btn-block waves-effect blue darken-2">Fund Transfer</a>
        </div>
        <div class="col s6">
            <a href="{{ url_for('teller.deposit') }}" class="btn-large btn-block waves-effect blue darken-2">Deposit</a>
            <a href="{{ url_for('teller.change_pin') }}" class="btn-large btn-block waves-effect blue darken-2">Change PIN</a>
            <a href="{{ url_for('teller.logout') }}" class="btn-large btn-block waves-effect blue darken-2">Exit</a>
        </div>
    </div>
</div>
{% endblock %}