{% extends 'teller/base.html' %} {% block content %}
<div class="card">
    <div class="card-content">
        <h2 class="card-title">Balance Inquiry</h2>
        <h2 class="center-align blue-text text-darken-2">&#8369; {{ balance }}</h2>
        <div class="section"></div>
        <center>
            <a href="{{ url_for('teller.logout') }}" class="btn-large waves-effect blue darken-2">
                <i class="material-icons left">exit_to_app</i>Exit
            </a>
            <a href="{{ url_for('teller.index') }}" class="btn-large waves-effect blue darken-2">
                <i class="material-icons left">repeat</i>Another Transaction
            </a>
        </center>
    </div>
</div>
{% endblock %}