{% extends 'teller/base.html' %} {% block content %}
<form id="loginForm" action="{{ url_for('teller.login') }}" method="post">
    {{ form.csrf_token }}
    <div class="card-panel">
        <div class="input-field">
            {{ form.account_number(class_='validate') }} {{ form.account_number.label }} {% for error in form.account_number.errors %}
            <small class="red-text">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="input-field">
            {{ form.password.label }} {{ form.password(class_='validate', maxlength='6') }} {% for error in form.password.errors %}
            <small class="red-text">{{ error }}</small>
            {% endfor %}
        </div>
        <center>
            <button type="submit" class="btn-large waves-effect blue darken-2">
                <i class="material-icons left">send</i>Login
            </button>
        </center>
    </div>
</form>
{% endblock %}