{% extends 'teller/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-6">
        <form id="transferForm" action="{{ url_for('teller.transfer') }}" method="POST">
            {{ form.csrf_token }}
            <h2 class="font-weight-bold text-center text-uppercase">Fund Transfer</h2>
            <br>
            <div class="card card-body bg-danger text-white">
                <div class="form-group">
                    {{ form.account_number.label }}
                    {{ form.account_number(class_='form-control') }}
                    {% for error in form.account_number.errors %}
                        <small class="form-text">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.amount.label }}
                    {{ form.amount(class_='form-control') }}
                    {% for error in form.amount.errors %}
                        <small class="form-text">{{ error }}</small>
                    {% endfor %}
                </div>
            </div>
            <a href="#!" class="btn-custom" onclick="document.getElementById('transferForm').submit()">
                <span>Enter</span>
            </a>
            <a href="{{ url_for('teller.index') }}" class="btn-custom"><span>Back</span></a>
        </form>
    </div>
</div>
{% endblock %}