{% extends 'teller/base.html' %} {% block content %}
<form id="transferForm" action="{{ url_for('teller.transfer') }}" method="POST">
    {{ form.csrf_token }}
    <div class="card">
        <div class="card-content">
            <h2 class="card-title">Fund Transfer</h2>
            <div class="input-field">
                    {{ form.account_number(class_='validate') }} {{ form.account_number.label }} {% for error in form.account_number.errors
                %}
                <small class="red-text">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="input-field">
                {{ form.amount(class_='validate') }} {{ form.amount.label }} {% for error in form.amount.errors %}
                <small class="red-text">{{ error }}</small>
                {% endfor %}
            </div>
            <center>
                <a href="{{ url_for('teller.index') }}" class="btn-large waves-effect blue darken-2">
                    <i class="material-icons left">keyboard_arrow_left</i>Back
                </a>
                <button type="submit" class="btn-large waves-effect blue darken-2">
                    <i class="material-icons left">send</i>Enter
                </button>
            </center>
        </div>
    </div>
</form>
{% endblock %}