{% extends 'admin/base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        User Manager
                    </h3>
                </div>
                <div class="box-body">
                    <table id="userTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email Address</th>
                                <th>Phone Number</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <th>{{ user.id }}</th>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.email_address }}</td>
                                <td>{{ user.phone_number }}</td>
                                <td>{{ 'Active' if not user.deleted else 'Inactive' }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{{ url_for('user.update', id=user.id) }}" class="btn btn-sm btn-primary">Update</a>
                                        {% if user.deleted %}
                                        <a href="{{ url_for('user.activate', id=user.id) }}" class="btn btn-sm btn-success">Activate</a>
                                        {% else %}
                                        <a href="{{ url_for('user.deactivate', id=user.id) }}" class="btn btn-sm btn-danger">Deactivate</a>
                                        {% endif %}
                                        <a href="{{ url_for('user.view', id=user.id) }}" class="btn btn-sm btn-info">View</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}"> {% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
<script>
    $('#userTable').DataTable();
</script>
{% endblock %}