{% extends 'admin/base.html' %} {% block content %}
<div class="container">
    <form action="{{ url_for('user.change_password') }}" method="post">
        {{ form.csrf_token }}
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title">Change Password</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="form-group col-sm-12 col-md-6">
                            {{ form.user_id.label }} {{ form.user_id(class_='form-control') }} {% for error in form.user_id.errors %}
                        <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                            {{ form.current_password.label }} {{ form.current_password(class_='form-control') }} {% for error in form.current_password.errors %}
                        <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="form-group col-sm-12 col-md-6">
                            {{ form.new_password.label }} {{ form.new_password(class_='form-control') }} {% for error in form.new_password.errors %}
                        <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                            {{ form.confirm_password.label }} {{ form.confirm_password(class_='form-control') }} {% for error in form.confirm_password.errors %}
                        <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a href="{{ url_for('user.index') }}" class="btn btn-default">
                    Back</a>
                <button type="submit" class="btn btn-primary">
                    Submit</button>
            </div>
    </form>
</div>
{% endblock %}