{% extends 'base.html' %} {% block content %}
<div class="section">
    <div class="container">
        <h4 class="blue-text">Update User</h4>
        <form action="{{ url_for('user.update', id=user.id) }}" method="post">
            {{ form.csrf_token }}
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s4">
                        {{ form.first_name(class_='validate', value=user.first_name) }} {{ form.first_name.label }} {% for error in form.first_name.errors %}
                        <small class="red-text">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="input-field col s4">
                        {{ form.middle_name(class_='validate', value=user.middle_name) }} {{ form.middle_name.label }} {% for error in form.middle_name.errors %}
                        <small class="red-text">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="input-field col s4">
                        {{ form.last_name(class_='validate', value=user.last_name) }} {{ form.last_name.label }} {% for error in form.last_name.errors %}
                        <small class="red-text">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="input-field col s6">
                        {{ form.email_address(class_='validate', value=user.email_address) }} {{ form.email_address.label }} {% for error in form.email_address.errors %}
                        <small class="red-text">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="input-field col s6">
                        {{ form.phone_number(class_='validate', value=user.phone_number) }} {{ form.phone_number.label }} {% for error in form.phone_number.errors %}
                        <small class="red-text">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="input-field col s12">
                        {{ form.address(class_='validate', value=user.address) }} {{ form.address.label }} {% for error in form.address.errors %}
                        <small class="red-text">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="input-field col s12">
                        {{ form.birth_date(class_='validate', value=user.birth_date) }} {{ form.birth_date.label }} {% for error in form.birth_date.errors %}
                        <small class="red-text">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
                <center>
                    <a href="{{ url_for('user.index') }}" class="btn waves-effect blue">
                        <i class="material-icons left">keyboard_arrow_left</i>Back</a>
                    <button type="submit" class="btn waves-effect blue">
                        <i class="material-icons left">send</i>Submit</button>
                </center>
            </div>
        </form>
    </div>
</div>
{% endblock %}