{% extends 'admin/base.html' %} {% block content %}
<div class="container">
    <div class="box box-solid box-primary">
        <div class="box-header">
            <h3 class="box-title">View User Profile</h3>
        </div>
        <div class="box-body">
            <h4>Personal Information</h4>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h5 class="text-primary">{{ user.first_name }}</h5>
                    <small>First Name</small>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h5 class="text-primary">{{ user.middle_name }}</h5>
                    <small>Middle Name</small>

                </div>
                <div class="col-sm-12 col-md-4">
                    <h5 class="text-primary">{{ user.last_name }}</h5>
                    <small>Last Name</small>

                </div>
                <div class="col-sm-12 col-md-12">
                    <h5 class="text-primary">{{ user.birth_date }}</h5>
                    <small>Birth Date</small>
                </div>
            </div>
            <hr>
            <h4>Contact Information</h4>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h5 class="text-primary">{{ user.email_address }}</h5>
                    <small>Email Address</small>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h5 class="text-primary">{{ user.phone_number }}</h5>
                    <small>Phone Number</small>
                </div>
            </div>
            <hr>
            <h4 class="card-title blue-text">User Account Informations</h4>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h5 class="text-primary">{{ user.created_at }}</h5>
                    <small>Creation Date</small>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h5 class="text-primary">{{ user.updated_at }}</h5>
                    <small>Update Date</small>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h5 class="text-primary">{{ 'Active' if not user.deleted else 'Inactive' }}</h5>
                    <small>Status</small>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a href="{{ url_for('user.index') }}" class="btn btn-default">
                Back</a>
        </div>
    </div>
</div>
{% endblock %}